<footer class="footer">
  <ul class="footer__list">
    <li>
      <a href="https://www.facebook.com/">
        <img src="../assets/images/fb.png" alt="fb-logo">
      </a>
    </li>
    <li>
      <a href="https://www.instagram.com/">
        <img src="../assets/images/instagram.png" alt="instagram-logo">
      </a>
    </li>
    <li>
      <a href="https://line.me/tw/">
        <img src="../assets/images/line.png" alt="line-logo">
      </a>
    </li>
  </ul>
</footer>