<header class="header container">
  <h1 class="header__title">VITO</h1>
  <img src="../assets/images/vito.png"
    alt="vito圖片"
    class="header__img">
  <h2 class="header__title">
    RESUME
  </h2>
</header>