//colors
$color-primary: #AE0000;
$color-secondary: #1ac886;
$color-gray: #949494;
$color-light: #EFEFEF;
$color-dark: #000;

$theme-colors: (
  primary:   $color-primary,
  secondary: $color-secondary,
  gray:      $color-gray,
  light:     $color-light,
  dark:      $color-dark,
);

//font-size
$fs-base: 1rem;          //16px
$fs-1: $fs-base * 8;     //128px
$fs-2: $fs-base * 2.5;   //40px
$fs-3: $fs-base * 2;     //32px
$fs-4: $fs-base * 1.5;   //24px
$fs-5: $fs-base * 1.25;  //20px

// font-family
@import url('https://fonts.googleapis.com/css2?family=Castoro:ital@0;1&display=swap');
$font-family-base: "Castoro", system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", "Microsoft JhengHei", Roboto, "Helvetica Neue", Arial, sans-serif;

//font-weight
$font-weight-lighter: lighter;
$font-weight-light: 300;
$font-weight-normal: 400;
$font-weight-bold: 700;
$font-weight-bolder: bolder;

//light-height
$lh-sm: 1.2;
$lh-base: 1.5;
$lh-lg: 2;

//grid
$gutter-width: 24px;
$grid-sum: 12;
$grid-breakpoints: (
  '': false,
  'sm': 576px,
  'md': 768px,
  'lg': 992px,
  'xl': 1200px,
);


